@page "/UserManagement"

<table>
    <tr>
        <td class="col-6">
            <table>
                <tr class="my-1 row">
                    <td class="col-auto"><h2>Create User</h2></td>
                </tr>
                <tr class="my-3 row">
                    <td class="col-sm-3 col-form-label">Name</td>
                    <td class="col-sm-9"><input type="text" @bind="addUser.Name" class="form-control"></td>
                </tr>
                <tr class="my-3 row">
                    <td class="col-sm-3 col-form-label">Address</td>
                    <td class="col-sm-9"><input type="text" @bind="addUser.Address" class="form-control"></td>
                </tr>
                <tr class="my-3 row">
                    <td class="col-sm-3 col-form-label">Email</td>
                    <td class="col-sm-9"><input type="text" @bind="addUser.Email" class="form-control"></td>
                </tr>
                <tr class="mb-2 row">
                    <td class="col-auto"><button class="btn btn-primary" @onclick="AddUser">Add User</button></td>
                </tr>
            </table>
        </td>
        <td class="col-6">
            <table>
                <tr class="my-1 row">
                    <td class="col-auto"><h2>Update User</h2></td>
                </tr>
                <tr class="mb-1 row">
                    <td class="col-sm-3 col-form-label">User</td>
                    <td class="col-sm-9">
                        <EditForm Model="@updateUser">
                            <DataAnnotationsValidator />
                            @if (userList.Any())
                            {
                                <InputSelect id="UserNoSelect" Value="@updateUser.UserId" ValueExpression="@(()=>updateUser.UserId)" ValueChanged="@((int value)=>UpdateUserModel(value))" class="form-control">
                                <option value="0">----Select User Id----</option>
                                @foreach (var user in userList)
                                {
                                    <option value="@user.UserId">@user.Name</option>
                                }

                            </InputSelect>
                            }
                        </EditForm>
                    </td>
                </tr>
                <tr class="mb-1 row">
                    <td class="col-sm-3 col-form-label">Name</td>
                    <td class="col-sm-9"><input type="text" class="form-control" @bind="updateUser.Name"></td>
                </tr>
                <tr class="mb-1 row">
                    <td class="col-sm-3 col-form-label">Address</td>
                    <td class="col-sm-9"><input type="text" class="form-control" @bind="updateUser.Address"></td>
                </tr>
                <tr class="mb-3 row">
                    <td class="col-sm-3 col-form-label">Email</td>
                    <td class="col-sm-9"><input type="text" class="form-control" @bind="updateUser.Email"></td>
                </tr>
                <tr class="mb-1 row justify-content-center">
                    <td class="col-6"><button class="btn btn-primary" @onclick="UpdateUser">Update User</button></td>
                    <td class="col-6"><button class="btn btn-primary" @onclick="RemoveUser">Delete User</button></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td><h2>Read User</h2></td>
                </tr>
                <tr>
                    <td>
                        @if (userList.Any())
                        {
                            <table class="table table-md table-striped table-bordered">
                                <tr><th>User Id</th><th>Name</th><th>Address</th><th>Email</th></tr>
                                @foreach (var user in userList)
                                {
                                    <tr><td>@user.UserId</td><td>@user.Name</td><td>@user.Address</td><td>@user.Email</td></tr>
                                }
                            </table>
                        }
                        else
                        {
                            <p>The List is Empty</p>
                        }
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" @onclick="ReadUser">Read User</button></td>
                </tr>
            </table>
        </td>
    </tr>
</table>




@code {

    private int txtUserId { get; set; }
    private string userName { get; set; }
    private string userAddress { get; set; }
    private string userEmail { get; set; }

    private List<User> userList = new();

    private User addUser = new();

    private User updateUser = new();

    private async Task AddUser()
    {
        if (addUser.Name != null && addUser.Email != null && addUser.Address != null)
        {
            await UserRepositoryAPI.AddUserAsync(addUser);

            addUser = new();

            userList = (await UserRepositoryAPI.GetUsersAsync()).OrderBy(offset => offset.UserId).ToList();
        }
    }

    private async Task ReadUser()
    {
        userList = (await UserRepositoryAPI.GetUsersAsync()).OrderBy(offset => offset.UserId).ToList();
    }

    private async Task UpdateUserModel(int value)
    {
        if (value > 0)
        {
            updateUser = userList.First(offset => offset.UserId == value);
        }
    }

    private async Task UpdateUser()
    {
        await UserRepositoryAPI.UpdateUserAsync(updateUser);

        userList = (await UserRepositoryAPI.GetUsersAsync()).OrderBy(offset => offset.UserId).ToList();

        ClearFields();
    }

    private async Task RemoveUser()
    {
        await UserRepositoryAPI.DeleteUserAsync(updateUser.UserId);

        ClearFields();

        userList = (await UserRepositoryAPI.GetUsersAsync()).OrderBy(offset => offset.UserId).ToList();
    }

    private void ClearFields()
    {
        updateUser = new();
    }


}
